name: Looping Runner

on:
  #schedule:
  #  - cron: '0 */2 * * *'  # Alle 2 Stunden
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    timeout-minutes: 125

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y tor screen wget unzip

      - name: Disable systemd Tor
        run: |
          sudo systemctl disable tor || true

      - name: Stop systemd Tor
        run: |
          sudo systemctl stop tor || true

      - name: Kill systemd Tor
        run: |
          sudo killall tor || true

      - name: Install geckodriver
        run: |
          GECKO_VERSION=$(curl -s https://api.github.com/repos/mozilla/geckodriver/releases/latest | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
          wget -q https://github.com/mozilla/geckodriver/releases/download/v$GECKO_VERSION/geckodriver-v$GECKO_VERSION-linux64.tar.gz
          tar -xzf geckodriver-v$GECKO_VERSION-linux64.tar.gz
          sudo mv geckodriver /usr/local/bin/

      - name: Set up virtual environment and install packages
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install selenium requests

      - name: Start TOR in screen (log to tor.log)
        run: |
          screen -dmS tor_session bash -c "tor -f ./torrc > tor.log 2>&1"

      - name: Start Python script in screen (log to python.log)
        run: |
          screen -dmS py_session1 bash -c "source venv/bin/activate && python3 ./LINUX.py > python.log 2>&1"

      - name: Start Python script 2 in screen (log to python.log)
        run: |
          screen -dmS py_session2 bash -c "source venv/bin/activate && python3 ./LINUX.py > python.log 2>&1"

      - name: Start Python script 3 in screen (log to python.log)
        run: |
          screen -dmS py_session3 bash -c "source venv/bin/activate && python3 ./LINUX.py > python.log 2>&1"


      - name: Wait for up to 2 hours
        run: sleep 7000
        
      - name: Show last 100 lines of logs
        run: |
          echo "==== TOR LOG ===="
          tail -n 100 tor.log || echo "tor.log fehlt"
          echo ""
          echo "==== PYTHON LOG ===="
          tail -n 100 python.log || echo "python.log fehlt"

      - name: Upload logs as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: runner-logs
          path: |
            tor.log
            python.log
